<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {background-color: black;}
    </style>
</head>
<body style="text-align: center;"">
    <div style="background-color: white; width: 500px; height: 600px; border-radius: 30%;">
    <img src="/<%=src%>" width="300px" height="350px" />
    <h2><%=id%>님 환영합니다!</h2>
    <br/><br/>
    비밀번호: <%=pw%><br/>
    이름: <%=name%><br/>
    나이: <%=age%>
    </div>
</body>
</html>